<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    @for (item of data$ | async; track item.id) {
    <a class="block border rounded overflow-hidden shadow-lg hover:shadow-2xl cursor-pointer"
      (click)="goToDetailsPage(item.id)">
      <img [src]="item.thumbnailUrl" alt="{{ item.title }}" class="w-full object-cover h-48">
      <div class="p-2">
        <h2 class="text-lg font-semibold">{{ item.title }}</h2>
      </div>
    </a>
    }
  </div>
</div>
@if(error) {
<div class="bg-red-100 border border-red-400 text-red-700 mx-4 px-4 py-3 rounded relative" role="alert">
  <strong class="font-bold">Error:</strong>
  <span class="block sm:inline pl-1">There was a problem loading the data. Please try again later.</span>
</div>
}
